body{
font-family: Arial;
display:flex;
justify-content:center;
margin-top:50px;
}

.main-table{
border-collapse:collapse;
width:600px;
text-align:center;
}

.main-table th,
.main-table td{
border:2px solid black;
padding:10px;
}

.title{
font-size:22px;
font-weight:bold;
}